#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
 
  /* text-align: center; */
}
html {
  background-color: #141414;
  color: #16db65;
  font-family: "Roboto", sans-serif;
}
.h1OnPage {
  color: white;
  text-align: center;
}
.HomePage {
  background-color: #0d2818;
  border: 1px solid #04471c;
}
.GameDetails {
  margin: none;
  padding: none;
  color: white;
  text-align: left;
}
.LeagueBar {
  display: inline-block;
}
.LeagueLogo {
  max-width: 20%;
  text-align: right;
  border-radius: 4px;
  padding: none;
  margin-bottom: 6px;
}
.ClubVsClub {
  background-color: rgba(255, 255, 255, 0.094);
  text-align: center;
  padding: 2px;
}
.ClubVsClub h1 {
  font-size: 200%;
}
.ClubVsClub img {
  max-width: 20%;
  height: auto;
}
.LeagueIcon {
  border-radius: 10%;
  max-width: 70%;
  margin-left: 0px;
  margin-right: 10px;
}
.BadgeInTable {
  max-width: 8%;
  /* background-color: rgba(0, 0, 255, 0.575); */
}
.ClubImageOnList {
  max-width: 100%;
  height: auto;
  /* background: rgba(0, 0, 0, 0.274); */
}
.ImageOnHomePage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(2, 40, 7, 0.9)),
    url("/Stadion.png");
  border: 2px solid #000000;
  min-width: 100%;
  width: 100%;
  height: auto;
  background-size: cover;
  color: white;
  padding: 20px;
  margin-top: 2em;
}
.LeaguesListOnHomePage {
  border: 2px solid #000000;
  min-width: 400px;
  width: 100%;
  height: auto;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 2em;
}
.css-k7y545-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #19d27c;
}
